extends ../layout
block content
    include ../mixins/form-input-mixin
    include expenses-add-form
    include expenses-edit-form
    include exptype-new-form
    include ../confirm-delete-dialog
    #expenses-container.container-fluid
        .row
            .col-lg-12
                include expenses-table
