#dialog-add-expenses.modal.fade.small(tabindex="-1", role="dialog", aria-labelledby="dialog-add-expenses-title", aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4#dialog-add-expenses-title.modal-title Добавление новых расходов
            #form-add-expenses.modal-body.form-vertical
                .row
                    .col-lg-3
                        a#form-add-expenses-button-new-type.btn.btn-success.btn-sm(href='javascript:void(0)', style="margin-left:8px")
                            span.glyphicon.glyphicon-plus(aria-hidden="true", style="margin-right:8px")
                            span Новый тип расходов
                    .col-lg-6
                        +inputDateLblH("form-add-expenses-date", "Дата расходов", 4)(required)
                    .col-lg-3
                        dl
                            dt Итoго:
                            dd#form-add-expenses-total-ammount
                .row.sm-gutter
                    .col-lg-3.text-center
                        strong Тип
                    .col-lg-5.text-center
                        strong Описание
                    .col-lg-1.text-center
                        strong К-во
                    .col-lg-2.text-center
                        strong Сумма
                    .col-lg-1
                .row
                    #form-add-expenses-detail.col-lg-12
            .modal-footer
                .row
                    .col-lg-12
                        +aButtonCancel("form-add-expenses-cancel")
                        +aButtonOK("form-add-expenses-ok")

