extends layout
include ./mixins/form-mixins.jade

block content
    #donates-container.container-fluid.page-container
        .row
            .jumbotron
                h1 Взносы
                p Чтобы детки хорошо учились, родители должны сдавать денежки!
        .row
            .col-lg-6
                .container-fluid
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title Должники
                        .panel-body
                            .row
                                table(id="debtor-table")
            .col-lg-6
                #donates-right-panel.container-fluid(data-spy="affix" data-offset-top="373" data-offset-bottom="0")
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title Добавить взнос
                        #donates-form-donate.panel-body
                            fieldset
                                .container-fluid
                                    .row
                                        select#form-make-donate-pupil.form-control
                                            option
                                    .row(style="margin-top:15px")
                                        .container-fluid.col-lg-6
                                            .row
                                                +labeledDateEdit("form-make-donate-date","Дата",4,8)
                                        .container-fluid.col-lg-6
                                            .row
                                                +labeledCurrencyEdit("form-make-donate-summ","Сумма",4,8)
                            .row
                                .container-fluid(style="margin-top:15px")
                                    .row
                                        a(href='#', class="btn btn-default pull-right", id="form-make-donate-cancel" style="margin-right:15px") Отмена
                                        a(href='#', class="btn btn-default pull-right", id="form-make-donate-ok" style="margin-right:15px") OK

                    .panel.panel-default
                        .panel-heading(role="tab")
                            h4.panel-title
                                a(role="button", data-toggle="collapse", href="#donates-form-make-debt") Начислить всем
                        #donates-form-make-debt.panel-collapse.collapse
                            .panel-body
                                .row
                                    .container-fluid.col-lg-6
                                        .row
                                            +labeledDateEdit("form-make-debt-date","Дата",4,8)
                                    .container-fluid.col-lg-6
                                        .row
                                            +labeledCurrencyEdit("form-make-debt-summ","Сумма",4,8)
                                .row
                                    .container-fluid(style="margin-top:15px")
                                        .row
                                            a(href='#', class="btn btn-default pull-right", id="form-make-debt-cancel" style="margin-right:15px") Отмена
                                            a(href='#', class="btn btn-default pull-right", id="form-make-debt-ok" style="margin-right:15px") OK
