//
   Created by igorgo on 17.04.2016.
#donates-container.container-fluid.page-container.hidden
    .row
        .jumbotron
            h1 Пожертвования
            p Чтобы всё было хорошо, родители должны сдавать денежки!

