extends layout

block content
    #donates-container.container-fluid.page-container
        .row
            .jumbotron
                h1 Пожертвования
                p Чтобы всё было хорошо, родители должны сдавать денежки!

