//
   Created by igorgo on 17.04.2016.
#expenses-container.container-fluid.page-container.hidden
    .row
        .jumbotron
            h1 Затраты
            p Куда ж всё время деваются эти деньги???

