extends layout

block content
    #expenses-container.container-fluid.page-container
        .row
            .jumbotron
                h1 Затраты
                p Куда ж всё время деваются эти деньги???

extends layout
