doctype html
html
    head
        title='Родительский комитет'
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css')
    body
        .container-fluid
            .row
                nav.navbar.navbar-default( role="navigation" )
                    .navbar-header
                        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                            span.sr-only Переключить навигацию
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") Родительский комитет
                    #navbar-inverse.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            -var menuItems = { 'Главная':'/' , 'Ученики': '/pupils', 'Взносы':'/donates', 'Затраты':'/expenses'};
                            each val, key in menuItems
                                if pageName === key
                                    li.active: a( href="#")= key
                                else
                                    li: a( href=val)= key
        block content
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
        script(src='/javascripts/jquery.inputmask.bundle.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-ru-RU.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/i18n/ru.js')

        script(src='/javascripts/global.js')
        if pageScript
            script(src= pageScript)
