doctype html
html
    head
        title='Родительский комитет'
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
        link(rel='stylesheet', href='/bower_components/select2/dist/css/select2.min.css')
        link(rel='stylesheet', href='/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .container-fluid
                nav.navbar.navbar-default( role="navigation" )
                    .navbar-header
                        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                            span.sr-only Переключить навигацию
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="javascript:void(0)") Родительский комитет
                    #navbar-inverse.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            -var menuItems = { 'Главная':'/' , 'Ученики': '/pupils', 'Взносы':'/donates', 'Расходы':'/expenses'};
                            each val, key in menuItems
                                if pageName === key
                                    li.active: a( href="javascript:void(0)" )= key
                                else
                                    li: a.nav-a-m( href=val)= key
                            li.pull-right: a#logoff( href="javascript:void(0)") Выйти
        block content

        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js')
        script(src="/bower_components/tableExport.jquery.plugin/tableExport.min.js")
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/bootstrap-validator/dist/validator.min.js')
        script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
        script(src='/bower_components/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.min.js')
        script(src='/bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js')
        script(src='/bower_components/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js')
        script(src='/bower_components/select2/dist/js/select2.min.js')
        script(src='/bower_components/select2/dist/js/i18n/ru.js')

        script(src='/javascripts/global.js')
        if pageScript
            script(src= pageScript)
