body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#pupils-detail-body.affix {
    top: 20px;
}

#pupils-detail.affix {
    top: 20px;
}

#donates-right-panel.affix {
    top: 20px;
}

.cover {
    background-color: #fff;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.sm-gutter > [class*='col-'] {
    padding-right:2px;
    padding-left:2px;
}

.no-bottom .form-group {
    margin-bottom:0;
}

.pl8 {
    padding-left: 8px !important;
}

.pr8 {
    padding-right: 8px !important;
}

.btn.pull-right {
    margin-left:5px
}

hr.no-margin{
    margin-top: 0;
    margin-bottom: 0;
}

.ml5 {
    margin-left: 5px;
}

.has-error .select2-selection {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}