#cash-panel.panel.panel-default
    .panel-heading
        .row
            .col-lg-12
                h4.panel-title.text-center Деньги
    .panel-body
        dl.dl-horizontal.container-fluid
            dt Остаток в кассе
            dd#cash-remns
            dt Не собрано взносов
            dd#debt-remns
