//
   Created by igorgo on 10.05.2016.
#confirm-delete.modal.fade.small(tabindex="-1", role="dialog", aria-labelledby="confirm-delete-title", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4#confirm-delete-title.modal-title Подтверждение удаления
            .modal-body
                p Вы собираетесь удалить ученика. Это действие приведет к безвозвратной потере данных о нём.
                p Удаление необходимо только в случае, если Вы завели ошибочного ученика.
                p Если ученик просто закончил учится в вашем классе, установите ему дату окончания периода обучения и не удаляйте его.
                br
                p Вы желаете произвести удаление?
                p.debug-url
            .modal-footer
                button.btn.btn-primary(type="button", data-dismiss="modal") Отмена
                a#pupil-del-conf-button.btn.btn-danger.btn-ok Удалить

