#pupils-detail.panel.panel-default(data-spy="affix" data-offset-top="100" data-offset-bottom="0")
    .panel-heading.text-center
        h3 Детальная информация
    #pupils-detail-hint.panel-body.text-center
        em Выберите ученика из списка слева.
    #pupils-detail-body.panel-body.hidden
        .row
            .col-lg-6
                dl.dl-horizontal
                    dt Фамилия
                    dd#pupil-last-name
                    dt Имя
                    dd#pupil-first-name
                    dt Отчество
                    dd#pupil-middle-name
            .col-lg-6
                dl.dl-horizontal
                    dt Дата рождения
                    dd#pupil-birthday
                    dt
                        span.glyphicon.glyphicon-phone(aria-hidden="true")
                    dd#pupil-cell-phone
                    dt
                        span.glyphicon.glyphicon-envelope(aria-hidden="true")
                    dd#pupil-email
        .row
            .col-lg-12
                dl.dl-horizontal.container-fluid
                    dt Домашний адрес
                    dd#pupil-home-address
                    dt Адрес регистрации
                    dd#pupil-reg-address
                    dt
                        span.glyphicon.glyphicon-phone-alt(aria-hidden="true")
                    dd#pupil-home-phone
        .row
            .col-lg-12
                hr.no-margin
                h3.container-fluid.text-center Мама
        .row
            .col-lg-6
                dl.dl-horizontal.container-fluid
                    dt Фамилия
                    dd#mother-last-name
                    dt Имя
                    dd#mother-first-name
                    dt Отчество
                    dd#mother-middle-name
            .col-lg-6
                dl.dl-horizontal.container-fluid
                    dt Дата рождения
                    dd#mother-birthday
                    dt
                        span.glyphicon.glyphicon-phone(aria-hidden="true")
                    dd#mother-cell-phone
                    dt
                        span.glyphicon.glyphicon-envelope(aria-hidden="true")
                    dd#mother-email
        .row
            .col-lg-12
                dl.dl-horizontal.container-fluid
                    dt Место работы
                    dd#mother-work-place
        .row
            .col-lg-6
                dl.dl-horizontal.container-fluid
                    dt Должность
                    dd#mother-work-post
            .col-lg-6
                dl.dl-horizontal.container-fluid
                    dt
                        span.glyphicon.glyphicon-earphone(aria-hidden="true")
                    dd#mother-work-phone
        .row
            .col-lg-12
                hr.no-margin
                h3.container-fluid.text-center Папа
        .row
            .col-lg-6
                dl.dl-horizontal.container-fluid
                    dt Фамилия
                    dd#father-last-name
                    dt Имя
                    dd#father-first-name
                    dt Отчество
                    dd#father-middle-name
            .col-lg-6
                dl.dl-horizontal.container-fluid
                    dt Дата рождения
                    dd#father-birthday
                    dt
                        span.glyphicon.glyphicon-phone(aria-hidden="true")
                    dd#father-cell-phone
                    dt
                        span.glyphicon.glyphicon-envelope(aria-hidden="true")
                    dd#father-email
        .row
            .col-lg-12
                dl.dl-horizontal.container-fluid
                    dt Место работы
                    dd#father-work-place
        .row
            .col-lg-6
                dl.dl-horizontal.container-fluid
                    dt Должность
                    dd#father-work-post
            .col-lg-6
                dl.dl-horizontal.container-fluid
                    dt
                        span.glyphicon.glyphicon-earphone(aria-hidden="true")
                    dd#father-work-phone
    #pupils-detail-footer.panel-footer.hidden
        .row
            .col-lg-12.text-center
                a#pupil-upd-button.btn.btn-primary.hidden(href='javascript:void(0)')
                    span.glyphicon.glyphicon-pencil(aria-hidden="true", style="margin-right:8px")
                    span Исправить
